html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#rankings {
    width: 40%;
    height: 85%;
    float: left;
}

#trendline {
    width: 60%;
    height: 88%;
    float: left;
}

.container {
    width: 100%
}
